<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaofan.product">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        >

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="580c6285aed17913f400016f">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3967e5eeec7bc87449bb0185f5da65ce">
        </meta-data>
        <meta-dataW
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" >
        </meta-dataW>

        <!-- 四大组件之 Activity -->

        <!-- 首页模块 -->

        <!-- 通讯录模块 -->

        <!-- 发现模块 -->

        <!-- 我的模块 -->

        <!-- 其他模块 -->

        <!-- 启动页 -->
        <activity
            android:name="com.xiaofan.product.activity.other.OtherStartPageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录页面 -->
        <activity
            android:name="com.xiaofan.product.activity.other.OtherLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <!-- 语言切换页面 -->
        <activity
            android:name="com.xiaofan.product.activity.other.OtherLanguageSwitchActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 主页面 -->
        <activity
            android:name="com.xiaofan.product.activity.other.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 测试模块 -->

        <!-- 网络测试 -->
        <activity
            android:name="com.xiaofan.product.net.http.test.NetWorkTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <!-- 进度条测试页面 -->
        <activity
            android:name="com.xiaofan.product.activity.test.ProgressBarActivity"
            android:screenOrientation="portrait">
        </activity>
        <!-- Recycleview测试的页面 -->
        <activity
            android:name="com.xiaofan.product.activity.test.RecycleViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <!-- 内容提供者的测试页面 -->
        <activity
            android:name="com.xiaofan.product.activity.test.ProviderTestActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 四大组件之 Service -->

        <!-- 友盟消息完全自定义服务 -->
        <service android:name="com.xiaofan.product.service.CustomPushIntentService"/>

        <!-- 四大组件之 ContentProvider -->

        <!-- 联系人内容提供者 -->
        <provider
            android:name="com.xiaofan.product.provider.ContactContentProvider"
            android:authorities="com.xiaofan.product.provider.ContactContentProvider"
            android:exported="true" />

        <!-- 四大组件之 BroadcastReceiver -->


    </application>

</manifest>